# Imports

## Basics

In [19]:
import pandas as pd
import matplotlib as plt
import numpy as np
import math
import datetime as dt

In [27]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [24]:
# Print the datatype of df
type(df)

pandas.core.frame.DataFrame

In [25]:
# show functions in the pd module
print (dir(dt))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [26]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

## Importing csv files

In [20]:
import numpy as np
import pandas as pd

# Assign the filename: file
file = 'world_maritime_boundaries.csv'# Add URL in ' ' or location of the file in ''

In [30]:
# Read the whole file into a DataFrame: df
df = pd.read_csv(file)

In [32]:
# Read the first 5 rows of the file into a DataFrame: df
df = pd.read_csv(file, nrows=5, header=None)

In [33]:
# Print the head of the DataFrame df
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,FID,OBJECTID,SOURCE,TYPE,BOUNDARY,COUNTRY1,COUNTRY2,REMARKS,LINE_ID,SHAPE,SE_ANNO_CAD_DATA
1,world_maritime_boundaries.fid-53820faf_167d7d2...,76,VLIZ,Treaty,Venezuela - Netherlands Antilles,139,128,,86,"MULTILINESTRING ((15.413333 -69.577222, 12.816...",NaN
2,world_maritime_boundaries.fid-53820faf_167d7d2...,77,Federal Register 1995 Coordinates and NOAA,200 NM,United States - Pacific Ocean,163,1003,,87,"MULTILINESTRING ((30.542 -121.866214, 30.54301...",NaN
3,world_maritime_boundaries.fid-53820faf_167d7d2...,78,Federal Register 1995 Coordinates and NOAA,Treaty,United States - Mexico,163,135,,88,"MULTILINESTRING ((30.542 -121.866214, 31.13277...",NaN
4,world_maritime_boundaries.fid-53820faf_167d7d2...,79,Federal Register 1995 Coordinates and NOAA,Treaty,United States - Cuba,163,112,,89,"MULTILINESTRING ((23.925 -81.215278, 23.897222...",NaN

## Importing txt files

In [38]:
# Assign a file: file
 
filename = 'test.txt' 
file = open(filename, mode='r') # 'r' is to read, 'w' is to write
# you may enter '_.text' directly to filename position instead of assigning filename.
file = open('test.txt', mode='r') # 'r' is to read, 'w' is to write

# Print it
print(file.read())

my first file
This file

contains three lines

In [39]:
# Check whether file is closed
print(file.closed)

# Close file
file.close()

# Check whether file is closed
print(file.closed)

False
True

In [41]:
# Read & print the whole text
with open('test.txt') as file:
    print(file.read())

my first file
This file

contains three lines

In [43]:
# Read & print the first 3 lines   
with open('test.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

my first file

This file

## Importing flat files using NumPy

In [ ]:
import numpy as np

# Assign the filename: file
file = 'computational_maths.txt'

# Load the data: df
df = np.loadtxt(file, delimiter=',')

# Print df
print(df)

## working-with-mixed-datatypes by using NumPy

In [44]:
#(np.genfromtxt()can handle the datasets which have different datatypes
in different columns; one column may contain strings and another floats.
dtype=None to arguments will figure out what types each column should be.)

import numpy as np

data = np.genfromtxt('../_datasets/titanic.csv', delimiter=',', names=True, dtype=None)

print(np.shape(data))

print(data['Fare'])

SyntaxError: invalid syntax (<ipython-input-44-eaea526dec87>, line 2)

## Importing Excel Files

In [51]:
# Import pandas
import pandas as pd

# Load spreadsheet: xl
xl = pd.ExcelFile('mcy.xlsx')

In [56]:
# View the excel file's sheet names
xl.sheet_names

['sheet']

In [62]:
# Load the xlsx file's Sheet1 as a dataframe
df = xl.parse('sheet')
df.head(2)

,UPC,DESCRIPTION,QTY,MSRP,EXT. MSRP,VENDOR / STYLE #,COLOR,SIZE,DIVISION,DEPARTMENT,VENDOR NAME,IMAGE,BRAND
0,815974000000,DENIM EYELASH MASK BASIC,59,20.0,1180.0,TWBGDLSM1,NAVY,NO SIZE,BLM,GIFTING INITV,TWELVE NYC/QUETICO LLC,http://images.bloomingdales.com/is/image/BLM/9...,TWELVE NYC
1,5060520000000,GOOGLY PALM,55,25.0,1375.0,20226MUC1,GREEN,OSFA,BLM,GIFTING INITV,SKINNYDIP/SKINNYDIP LIMITED,http://images.bloomingdales.com/is/image/BLM/9...,SKINNYDIP

## working-with-mixed-datatypes by using NumPy

In [ ]:
#(np.genfromtxt()can handle the datasets which have different datatypes
in different columns; one column may contain strings and another floats.
dtype=None to arguments will figure out what types each column should be.)

import numpy as np

data = np.genfromtxt('../_datasets/titanic.csv', delimiter=',', names=True, dtype=None)

print(np.shape(data))

print(data['Fare'])

## Importing SAS files

In [ ]:
import pandas as pd

# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('../_datasets/sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
print(df_sas.head())

## Importing Stata files

In [ ]:
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('../_datasets/disarea.dta')

# Print the head of the DataFrame df
print(df.head())

## Importing HDF5 files

In [ ]:
import h5py

# Assign filename: file
file = '../_datasets/LIGO_data.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Get the HDF5 group: group
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data: strain
strain = data['strain']['Strain'].value

# Set number of time points to sample: num_samples
num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

## Import pickle file

In [ ]:
import pickle

# Open pickle file and load data: d
with open('data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

## Importing a .mat file

In [ ]:
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('../_datasets/albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

## Importing flat files from the WEB

In [ ]:
import requests

# Specify the url: url
url = "http://www.datacamp.com/teach/documentation"

# Packages the request, send the request and catch the response: r
r = requests.get(url)

# Extract the response: text
text = r.text

# Print the html
print(text)

## Importing files with GET requests

In [ ]:
import requests

# Specify the url: url
url = "http://www.datacamp.com/teach/documentation"

# Packages the request, send the request and catch the response: r
r = requests.get(url)

# Extract the response: text
text = r.text

# Print the html
print(text)

## GET requests using urllib

In [ ]:
from urllib.request import urlopen, Request

# Specify the url
url = "http://www.wikipedia.org"

# This packages the request: request
request = Request(url)

# Sends the request and catches the response: response
response = urlopen(request)

# Print the datatype of response
print(type(response))

# Be polite and close the response!
response.close()

## Getting Web Page as Data with BeautifulSoupÂ¶

In [ ]:
import requests
from bs4 import BeautifulSoup

# Specify url
url = 'https://www.python.org/~guido/'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Extracts the response as html: html_doc
html_doc = r.text

# create a BeautifulSoup object from the HTML: soup
soup = BeautifulSoup(html_doc)

# Print the title of Guido's webpage
print(soup.title)

# Find all 'a' tags (which define hyperlinks): a_tags
a_tags = soup.find_all('a')

# Print the URLs to the shell
for link in a_tags:
    print(link.get('href'))

In [ ]:
import requests
from bs4 import BeautifulSoup

# Specify url: url
url = 'https://www.python.org/~guido/'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Extract the response as html: html_doc
html_doc = r.text

# Create a BeautifulSoup object from the HTML: soup
soup = BeautifulSoup(html_doc)

# Get the title of Guido's webpage: guido_title
guido_title = soup.title

# Print the title of Guido's webpage to the shell
print(guido_title)

# Get Guido's text: guido_text
guido_text = soup.get_text()

# Print Guido's text to the shell
print(guido_text)

## Loading JSONs in Python

In [ ]:
import json

with open('snakes.json', 'r') as json_file:
    json_data = json.load(json_file)
type(json_data)

## Connecting to an API in Python

In [ ]:
import requests
url = 'http://www.omdbapi.com/?t=hackers'
r = requests.get(url)
json_data = r.json()
for key, value in json_data.items():
    print(key + ':', value)

## Using Tweepy

In [ ]:
import tweepy, json

access_token = "..."
access_token_secret = "..."
consumer_key = "..."
consumer_secret = "..."

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [ ]:
import tweepy
import json

class MyStreamListener(tweepy.StreamListener):
    def __init__(self, api=None):
        super(MyStreamListener, self).__init__()
        self.num_tweets = 0
        self.file = open("tweets.txt", "w")
    def on_status(self, status):
        tweet = status._json
        self.file.write(json.dumps(tweet) + '\n')
        tweet_list.append(status)
        self.num_tweets += 1
        if self.num_tweets < 100:
            return True
        else:
            return False
        self.file.close()

In [ ]:

# Initialize Stream listener
l = MyStreamListener()

# Create you Stream object with authentication
stream = tweepy.Stream(auth, l)


# Filter Twitter Streams to capture data by the keywords:
stream.filter(track=['clinton', 'trump', 'sanders', 'cruz'])

# Data Types

**Check if an object is of a given type:**

In [ ]:
isinstance(2.0, int)

In [ ]:
isinstance(2.0, (int, float))

**Convert an object to a given type:**

In [ ]:
float(2)

In [ ]:
int(2.9)

In [ ]:
str(2.9)

**Zero, `None`, and empty containers are converted to `False`:**

In [ ]:
bool(0)

In [ ]:
bool(None)

In [ ]:
bool('')    # empty string

In [ ]:
bool({})    # empty dictionary

In [ ]:
bool([])    # empty list

**Non-empty containers and non-zeros are converted to `True`:**

In [ ]:
bool(2)

In [ ]:
bool('two')

In [ ]:
bool([2])

# Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [ ]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [ ]:
# create a list
simpsons = ['homer', 'marge', 'bart']

**Examine a list:**

In [ ]:
# print element 0
simpsons[0]

In [ ]:
len(simpsons)

**Modify a list (does not return the list):**

In [ ]:
# append element to end
simpsons.append('lisa')
simpsons

In [ ]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

In [ ]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

In [ ]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

In [ ]:
# remove element 0 and return it
simpsons.pop(0)

In [ ]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

In [ ]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

In [ ]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

**Find elements in a list:**

In [ ]:
# counts the number of instances
simpsons.count('lisa')

In [ ]:
# returns index of first instance
simpsons.index('itchy')

**List slicing:**

In [ ]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [ ]:
# element 0
weekdays[0]

In [ ]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

In [ ]:
# starting point is implied to be 0
weekdays[:3]

In [ ]:
# elements 3 (inclusive) through the end
weekdays[3:]

In [ ]:
# last element
weekdays[-1]

In [ ]:
# every 2nd element (step by 2)
weekdays[::2]

In [ ]:
# backwards (step by -1)
weekdays[::-1]

In [ ]:
# alternative method for returning the list backwards
list(reversed(weekdays))

**Sort a list in place (modifies but does not return the list):**

In [ ]:
simpsons.sort()
simpsons

In [ ]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

In [ ]:
# sort by a key
simpsons.sort(key=len)
simpsons

**Return a sorted list (does not modify the original list):**

In [ ]:
sorted(simpsons)

In [ ]:
sorted(simpsons, reverse=True)

In [ ]:
sorted(simpsons, key=len)

**Insert into an already sorted list, and keep it sorted:**

In [ ]:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

**Object references and copies:**

In [ ]:
# create a second reference to the same list
same_num = num

In [ ]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

In [ ]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

**Examine objects:**

In [ ]:
num is same_num    # checks whether they are the same object

In [ ]:
num is new_num

In [ ]:
num == same_num    # checks whether they have the same contents

In [ ]:
num == new_num

# Tuples
- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [ ]:
# create a tuple directly
digits = (0, 1, 'two')

In [ ]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [ ]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

In [ ]:
digits[2]

In [ ]:
len(digits)

In [ ]:
# counts the number of instances of that value
digits.count(0)

In [ ]:
# returns the index of the first instance of that value
digits.index('two')

**Modify a tuple:**

In [ ]:
# concatenate tuples
digits = digits + (3, 4)
digits

**Other tuple operations:**

In [ ]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

In [ ]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

In [ ]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

# Strings

- **String properties:** iterable, immutable

In [ ]:
# convert another data type into a string
s = str(42)
s

In [ ]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [ ]:
s[0]

In [ ]:
len(s)

**String slicing is like list slicing:**

In [ ]:
s[:6]

In [ ]:
s[7:]

In [ ]:
s[-1]

**Basic string methods (does not modify the original string):**

In [ ]:
s.lower()

In [ ]:
s.upper()

In [ ]:
s.startswith('I')

In [ ]:
s.endswith('you')

In [ ]:
# checks whether every character in the string is a digit
s.isdigit()

In [ ]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

In [ ]:
# returns -1 since not found
s.find('hate')

In [ ]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

**Split a string:**

In [ ]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

In [ ]:
# equivalent (since space is the default delimiter)
s.split()

In [ ]:
s2 = 'a, an, the'
s2.split(',')

**Join or concatenate strings:**

In [ ]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

In [ ]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

**Remove whitespace from the start and end of a string:**

In [ ]:
s5 = '  ham and cheese  '
s5.strip()

**String substitutions:**

In [ ]:
# old way
'raining %s and %s' % ('cats', 'dogs')

In [ ]:
# new way
'raining {} and {}'.format('cats', 'dogs')

In [ ]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

**String formatting ([more examples from mkaz.blog](https://mkaz.tech/python-string-format.html)):**

In [ ]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

**Normal strings versus raw strings:**

In [ ]:
# normal strings allow for escaped characters
print('first line\nsecond line')

In [ ]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

# Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [ ]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [ ]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

In [ ]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

**Examine a dictionary:**

In [ ]:
# pass a key to return its value
family['dad']

In [ ]:
# return the number of key-value pairs
len(family)

In [ ]:
# check if key exists in dictionary
'mom' in family

In [ ]:
# dictionary values are not checked
'marge' in family

In [ ]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

In [ ]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

In [ ]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

**Modify a dictionary (does not return the dictionary):**

In [ ]:
# add a new entry
family['cat'] = 'snowball'
family

In [ ]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

In [ ]:
# delete an entry
del family['cat']
family

In [ ]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

In [ ]:
# remove an entry and return the value
family.pop('dad')

In [ ]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

**Access values more safely with `get`:**

In [ ]:
family['mom']

In [ ]:
# equivalent to a dictionary lookup
family.get('mom')

In [ ]:
# this would throw an error since the key does not exist
# family['grandma']

In [ ]:
# return None if not found
family.get('grandma')

In [ ]:
# provide a default return value if not found
family.get('grandma', 'not found')

**Access a list element within a dictionary:**

In [ ]:
family['kids'][0]

In [ ]:
family['kids'].remove('lisa')
family

**String substitution using a dictionary:**

In [ ]:
'youngest child is %(baby)s' % family

# Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [ ]:
# create an empty set
empty_set = set()

In [ ]:
# create a set directly
languages = {'python', 'r', 'java'}

In [ ]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

**Examine a set:**

In [ ]:
len(languages)

In [ ]:
'python' in languages

**Set operations:**

In [ ]:
# intersection
languages & snakes

In [ ]:
# union
languages | snakes

In [ ]:
# set difference
languages - snakes

In [ ]:
# set difference
snakes - languages

**Modify a set (does not return the set):**

In [ ]:
# add a new element
languages.add('sql')
languages

In [ ]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

In [ ]:
# remove an element
languages.remove('java')
languages

In [ ]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [ ]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

In [ ]:
# remove and return an arbitrary element
languages.pop()

In [ ]:
# remove all elements
languages.clear()
languages

In [ ]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

**Get a sorted list of unique elements from a list:**

In [ ]:
sorted(set([9, 0, 2, 1, 0]))

# Defining Functions

**Define a function with no arguments and no return values:**

In [ ]:
def print_text():
    print('this is text')

In [ ]:
# call the function
print_text()

**Define a function with one argument and no return values:**

In [ ]:
def print_this(x):
    print(x)

In [ ]:
# call the function
print_this(3)

In [ ]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

**Define a function with one argument and one return value:**

In [ ]:
def square_this(x):
    return x**2

In [ ]:
# call the function
square_this(3)

In [ ]:
# assigns 9 to var, but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [ ]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [ ]:
# call the function
calc(10, 4, op='sub')

In [ ]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

In [ ]:
calc(10, 4, 'div')

**Use `pass` as a placeholder if you haven't written the function body:**

In [ ]:
def stub():
    pass

**Return two values from a single function:**

In [ ]:
def min_max(nums):
    return min(nums), max(nums)

In [ ]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

In [ ]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

# Anonymous (Lambda) Functions

- Primarily used to temporarily define a function for use by another function

In [ ]:
# define a function the "usual" way
def squared(x):
    return x**2

In [ ]:
# define an identical function using lambda
squared = lambda x: x**2

**Sort a list of strings by the last letter:**

In [ ]:
# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

In [ ]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

# For Loops and While Loops

**`range` returns a list of integers (Python 2) or a sequence (Python 3):**

In [ ]:
# includes the start value but excludes the stop value,  third argument is the step value
lst= list(range(0,5,2))
lst

**`for` loops:**

In [ ]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

In [ ]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

In [ ]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

In [ ]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

In [ ]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

In [ ]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

# Comprehensions

In [ ]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

In [ ]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

In [ ]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

In [ ]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

In [ ]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

In [ ]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

In [ ]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

In [ ]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

**Set comprehension:**

In [ ]:
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

**Dictionary comprehension:**

In [ ]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

In [ ]:
fruit_indices = {fruit:index for index,fruit in enumerate(fruits)}
fruit_indices

# Map and Filter

**`map` applies a function to every element of a sequence and returns a list (Python 2) or iterator (Python 3):**

In [ ]:
simpsons = ['homer', 'marge', 'bart']
list(map(len, simpsons))

In [ ]:
# equivalent list comprehension
[len(word) for word in simpsons]

In [ ]:
list(map(lambda word: word[-1], simpsons))

In [ ]:
# equivalent list comprehension
[word[-1] for word in simpsons]

**`filter` returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is `True`:**

In [ ]:
nums = range(5)
list(filter(lambda x: x % 2 == 0, nums))

In [ ]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]